@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2023-05-04 18:20:22
 * @version $Id$
 */
body {
    font-size: 16px;
    color: black;
    background-image: url("img/admin-bg.png");
}

.topnav a {
    text-decoration: none;
}

a:link {
    color:  #26A271; 
}

a:visited {
    color:  #26A271;;
}

a:hover {
    color: #3E4ECA;
}

a:active {
    color: #purple;
}




/*导航栏*/
.main {
    margin: 0 auto;
    width: 96%;
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    color: #7F8BDC;
    margin: 20px 0;
    padding: 0 40px;
}

.topnav p {
    margin: 0;
}

.top_exit {
    margin: 0;
    line-height: 40px;
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 10px;
}


.top_exit:hover {
  box-shadow: 0px 2px 5px rgba(0,0,0,1);
}



.topnav-icon {
    flex: 1;
}

.topnav-tle {
    flex: 2;
    margin-left: 100px;
    font-size: 48px;
}

.topnav-hello {
    flex: 1;
    font-size: 32px;
}

.exit {
    flex: 1;
    text-align: center;
    font-size: 32px;
    transition: background-color 1s ease-in-out,
    border-radius 0.5s;
}

.exit:hover {
    color: white;
    background-color: #3F56EF;
    border-radius: 40px;
}

/*二级导航*/
.midnav {
    display: flex;
    margin-top: 30px;
    height: 50px;
    justify-content: start;
    color: #7F8BDC;
    font-size: 20px;
}

.midnav_btn {
    cursor: pointer;
}

.midnav div {
    margin-left: 40px;
    padding: 10px 0;
    border-bottom: 1px solid  grey;
    transition: border-bottom 0.3s ease-in-out;
}

.midnav div:hover {
    border-bottom: 1px solid  #7F8BDC;
    color: #3F56EF;
}

.midnav div:first-child {
    margin-left: 0;
}

/*表格管理界面*/
.managebox {
    overflow-y: scroll;
    margin-top: 60px;
    height: 800px;
    border-radius: 20px;
    border: 1px solid grey;
}

/*滚动条样式*/
.managebox::-webkit-scrollbar {
    background-color: #2677F0;
    width: 1px;
    height: 4px;
}

#bg_img {
    width: 100%;
    position: absolute;
    opacity: 0.1;
    z-index: -999;
}

.managebox-top {
    display: flex;
    padding: 20px 50px;
}

.topbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 200px;
    font-size: 24px;
    color: white;
    border-radius: 10px;
    background-color: #7F8BDC;
    cursor: pointer;
}

.topbtn p {
    margin: 0;
}

.delbtn {
    margin-left: 20px;
}

.topbtn img {
    height: 32px;
    width: 32px;
}

#manage_table_head {
    width: 100%;
}

#manage_table_head tr th {
    position: relative;
    font-size: 28px;
    text-align: center;
    color: #7F8BDC;
    border: 1px solid grey;
}

#manage_table_body {
    width: 100%;
}

#manage_table_body tr td {
    position: relative;
    height: 60px;
    font-size: 20px;
    text-align: center;
    color: grey;
    border: 1px solid grey;
}

.charge {
    position: absolute;
    top: 35%;
    left: 25%;
    width: 24px;
    height: 24px;
    border: 1px solid grey;
    cursor: pointer;
}

.charge_head {
    position: absolute;
    top: 35%;
    left: 25%;
    width: 24px;
    height: 24px;
    border: 1px solid grey;
    cursor: pointer;
}

.manage-aciton {
    display: flex;
}

.manage-btn {
    margin-left: 60px;
    height: 40px;
    width: 60px;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

.manage_table_body-edit {
    background-color: #26A271;
}

.manage_table_body-del {
    background-color: #FB1919;
}

.footer img {
    width: 100%;
    margin-top: 40px;
}

/*和js配合的css*/

/*删除模拟框*/

/* 定义删除确认对话框的样式 */
.ui-dialog-buttonset button {
    color: white;
    width: 100px;
    background-color: grey;
}

#delete-confirm-dialog {
    display: none;
}

.ui-dialog-buttonset button:last-child {
    background-color: #26A271;
}

.ui-dialog-titlebar-close:before {
    position: absolute;
    top: -10px;
    left: 2px;
    content: "×";
    color: black;
    text-shadow: none;
    font-size: 24px;
}

/*添加页面*/
.addpage {
    margin-top: 60px;
    height: 1000px;
  
}

.addpagecont {
    display: flex;
}

.addtle {
    color: #7F8BDC;
    padding-bottom: 10px;
    width: 250px;
    border-bottom: 2px solid  #3F56EF;
}

.addpage-lt {
    flex: 1;
    padding: 20px 20px; 
    height: 700px;
}



#add_img {
    margin-left: 87px;
    width: 300px;

}

 .addimgbtn {
    margin: 60px auto;
    margin-bottom: 0;
    height: 100px;
    width: 300px;
    padding: 0 20px;
    background-color: #7F8BDC;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

 .addimgbtn p {
    flex: 1;
    margin: 0;
    font-size: 32px;
 }

 .addimgbtn img {
    flex: 1;
    height: 72px;
 }

.addpage-rt {
    flex: 2;
}

.add_row {
    display: flex;
    height: 50px;
    align-items: center;
    margin: 10px 0;
}

.add_row-lt {
    flex: 1;
    font-size: 24px;
}

.add_row-rt {
    width: 300px;
    flex: 5;
    font-size: 20px;
    padding: 5px 20px;
    border: 1px solid grey;
}

.add_row_more  .add_row-rt{
    margin-top: 300px;
}

textarea {
    height: 300px;
}

.add_row_more .add_row-lt {
    align-self: start;
}

.save-ok {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.bottom-btn {
    margin: 0 20px;
    height: 100px;
    width: 300px;
    padding: 0 20px;
    background-color: #7F8BDC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.bottom-btn p {
    flex: 1;
    margin: 0;
    font-size: 32px;
 }

.bottom-btn img {
    flex: 1;
    height: 72px;
 }

